.header{
    text-transform: capitalize; margin-left: 30%;
}
.h5{
     margin-left: 20%; 
}
.para{
    text-transform: capitalize; width: 50%; margin-left: 20%;
}
.work{
    text-transform: capitalize; margin-left: 10%;
}
.hh{
    text-transform: capitalize; font-size: large;
}
